Repository nugit/LYANL, pull requests merged in 2018-10, with the labels that each got.

#12 Add data structures to READMES
  java/README.md
  java/src/main/java/data_structures/BalancedBinarySearchTree.java
  java/src/main/java/data_structures/DoublyLinkedList.java
  java/src/main/java/data_structures/LeastRecentlyUsedCache.java
  java/src/main/java/data_structures/PriorityQueue.java
  java/src/main/java/data_structures/Queue.java
  java/src/main/java/data_structures/SinglyLinkedList.java
  java/src/main/java/data_structures/Stack.java
  java/src/main/java/data_structures/Trie.java
  javascript/README.md
  javascript/data_structures/balanced_binary_search_tree.js
  javascript/data_structures/doubly_linked_list.js
  javascript/data_structures/least_recently_used_cache.js
  javascript/data_structures/priority_queue.js
  javascript/data_structures/queue.js
  javascript/data_structures/singly_linked_list.js
  javascript/data_structures/stack.js
  javascript/data_structures/trie.js
  python/README.md
  python/data_structures/balanced_binary_search_tree.py
  python/data_structures/doubly_linked_list.py
  python/data_structures/least_recently_used_cache.py
  python/data_structures/priority_queue.py
  python/data_structures/queue.py
  python/data_structures/singly_linked_list.py
  python/data_structures/stack.py
  python/data_structures/trie.py
  reasonml/README.md
  reasonml/data_structures/balanced_binary_search_tree.re
  reasonml/data_structures/doubly_linked_list.re
  reasonml/data_structures/least_recently_used_cache.re
  reasonml/data_structures/priority_queue.re
  reasonml/data_structures/queue.re
  reasonml/data_structures/singly_linked_list.re
  reasonml/data_structures/stack.re
  reasonml/data_structures/trie.re
  ruby/README.md
  ruby/data_structures/balanced_binary_search_tree.rb
  ruby/data_structures/doubly_linked_list.rb
  ruby/data_structures/least_recently_used_cache.rb
  ruby/data_structures/priority_queue.rb
  ruby/data_structures/queue.rb
  ruby/data_structures/singly_linked_list.rb
  ruby/data_structures/stack.rb
  ruby/data_structures/trie.rb
  scala/README.md
  scala/data_structures/balanced_binary_search_tree.sc
  scala/data_structures/doubly_linked_list.sc
  scala/data_structures/least_recently_used_cache.sc
  scala/data_structures/priority_queue.sc
  scala/data_structures/queue.sc
  scala/data_structures/singly_linked_list.sc
  scala/data_structures/stack.sc
  scala/data_structures/trie.sc
Labels: maintenance

#15 Add ReasonML Binary Search Tree
  reasonml/data_structures/bst.re
Labels: reasonml

#16 Add ReasonML trie
  reasonml/data_structures/trie.re
Labels: reasonml

#18 c++ bubblesort
  cpp/README.md
  cpp/src/bubble_sort.cpp
  cpp/src/bubble_sort.hpp
  cpp/src/sort_order.hpp
Labels: C++

#14 Add Trie for Python
  python/data_structures/trie.py
Labels: python

#13 Add LRU Cache for Python
  python/data_structures/least_recently_used_cache.py
Labels: python
