Repository nugit/LYANL, pull requests merged in 2019-05, with the labels that each got.

#27 Improve bloom filter performance, add approxNumberOfItems method
  scala/data_structures/bloom_filter.scala
Labels: enhancement, scala

#25 Add disjoint set in Rust
  README.md
  rust/data_structures/disjoint_set.rs
Labels: rust

#26 Add Rust bloom filter
  rust/data_structures/bloom_filter.rs
Labels: rust

#8 Add MergeSort in Scala
  .gitignore
  scala/sort/merge_sort.sc
Labels: scala
